* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9ecf4;
    color: #000;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);


    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 widget-2"
                         "footer footer footer";
                         
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203e;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    background-image: url(img/sidebar.jpg);
}


.contenedor .widget-1, 
.contenedor .widget-2 {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}


.contenedor .footer {
    background: #12203e;
    color: #fff;
    grid-area: footer;
}


@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "sidebar sidebar sidebar"
                         "widget-1 widget-1 widget-2"
                         "footer footer footer";
    }
}




/* -- INICIO -- */

.header  h2 {
    font-weight: 300;
    font-size: 30px;
}

.header a {
    display: inline-block;
    padding: 40px 20px;
}

.header a:hover {
    border-bottom: 4px solid #faa43d;
}

.header a {
    color: #fff;
    text-decoration: none;
}

aside a {
    text-decoration: none;
    color: #000
}

/* -- MAIN -- */

.submenu nav a{
    padding: 26px 20px;
    display: inline-flex;
    font-size: 20px;
    color: #fff;
}
.submenu nav a:hover {
    text-decoration: underline;
}


.contenedor .widget-1 {
    background-image: url(img/papeles2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor .widget-2 {
    background-image: url(img/papel1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}

img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }



 /* -- FOOTER -- */
 
footer {
    margin-bottom: 0;
}


.footer a {
    text-decoration: none;
    color: #fff;
    padding: .8em;
}

.footer a:hover {
    text-decoration: underline;
}


/* -- CONTACTO -- */


body .content {
    background: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 50px 1.5em;
    display: grid;
}

/* .contacto1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);

} */


.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contacto {
    grid-column-start: 1;
    grid-column-end: 4;
}

.brand {
    text-align: center;
    font-size: 3em;
    padding: .4em;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1/ 3;
}


.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background: #000;
}


.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}


/* Pantalla grande */

@media (min-width: 700px) {
    body .contacto1 {
        padding:  0 4rem;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > *{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }
}











